  
      <%= form_for @user do |f| %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, placeholder: @user.name %>
      </div>
      <br>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.text_field :email, placeholder: @user.email %>
      </div>
      <br>
      <div class="form-group">
        <%= f.label :age %>
        <%= f.text_field :age, placeholder: @user.age %>
      </div>
      <br>
      <div class="form-group">
        <%= f.label :location %>
        <%= f.text_field :location, placeholder: @user.location %>
      </div>
      <br>
      <h3>Bucket List Items</h3>
        <%= f.fields_for :list_items do |builder| %>
        <div class="form-group">
          <%= render 'list_item_fields'||'users/list_item_fields', f: builder %>
        </div>
        <% end %>
        <br>
        <h4><%= link_to_add_fields "Add Another Bucket List Item", f, :list_items %></h4>
        <br>
        <div class="actions">
          <button type="submit" class="btn"><i class="entypo-mail">Save Your Bucket List</i></button>   
        </div>
    <% end %>


    




