  
      <%= form_for @user do |f| %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, placeholder: @user.name %>
      </div>
      <br>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.text_field :email, placeholder: @user.email %>
      </div>
      <br>
      <div class="form-group">
        <%= f.label :age %>
        <%= f.text_field :age, placeholder: @user.age %>
      </div>
      <br>
      <div class="form-group">
        <%= f.label :location %>
        <%= f.text_field :location, placeholder: @user.location %>
      </div>
      <br>
      <h3>Bucket List Items</h3>
        <% if @user.list_items.count >= 1 %>
          <ul>
            <%= @user.list_items.each do |list_item| %>
              <li><%= list.item.content %></li>
          <%end%>
          </ul>
        <%end%>
        <%= f.fields_for :list_item do |ff| %>
          <fieldset id="list-items">
            <div class="list_item">
              <div class="form-group">
                <%= ff.label :content, "Add an Item" %>
                <%= ff.text_field :content %>
              </div>
              <div class="form-group">
                <%= ff.check_box :_destroy, class: "remove" %>
                <%= ff.label :_destroy, "Remove an Item" %>
              </div>
            </div>
          </fieldset>
        <% end %>
        <button id="add_list_item" class="btn-default btn-sm"><h4>Add Another List Item<h4></button>

        <br><br>
        <hr>
          <%= f.submit "Save Your Bucket List", class: "btn btn-primary btn-lg" %>   
    <% end %>


    




