  <div class="container">
    <div class="page-header" id="banner">
      <div class="row">
        <div class="col-lg-6">
          <h1>All Bucket Lists!</h1>
          <p class="lead">Read what others wrote.</p>
        </div>
      </div>
    </div>

<h4><%= link_to 'Create Your Bucket List', new_user_path %></h4>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= image_tag avatar_url(user) %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h4><%= link_to 'Create Your Bucket List', new_user_path %></h4>

</div>
