  <div class="page-header" id="banner">
    <h1 class="amatic animated fadeIn"><%=@user.name%>'s Bucket List</h1>
    <br>
    <div class="container">
      <div class="row text-center">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
          <img class="img-circle" data-src="holder.js/140x140" alt="Generic placeholder image">
          <br><br>
          <p>
            <strong>Age:</strong> <h4><%= @user.age %></h4>
          </p>
          <p>
            <strong>Location:</strong> <h4><%= @user.location %></h4>
          </p>
          <h3>Bucket List</h3>

          <% @user.list_items.each do |list_item| %>
            <h4><%= list_item.name %></h4>
          <% end %>
          <br>  
        </div>
      </div>
    </div>
  </div>
  <div class="pull-right">
  <%= link_to 'Edit Bucket List', edit_user_path(@user) %>
</div>


