      <section id="title-slide" class="clearfix" data-stellar-background-ratio="1" >
        <div class="col-xs-12 col-sm-12">
          <h1 class="amatic animated fadeIn"> What Will You Do With Your Life? </h1>
        </div>
      </section>
      <section id="sub-title">
        <div class="row">
          <div class="col-xs-12 col-sm-10 col-sm-offset-1">
              <p class="sub-title"> And its short. What will you do with it? Why not make a list so you don't forget. You've come to the right place.
          </div>
        </div>
      </section>

      <section id="story-icons">
        <div class="row">
          <div class="col-xs-6 col-sm-3 col-md-2 col-md-offset-2">
              <a href="story/" ><%= image_tag("person.png", alt: "person icon", class: "story-icon-1")%> </a>
          </div>
          <div class="col-xs-6 col-sm-3 col-md-2">
              <a href="app-release/"><%= image_tag("mobile.png", alt: "person icon", class: "story-icon-2")%></a>
          </div>
          <div class="col-xs-6 col-sm-3 col-md-2">
              <a href="app-release/"><%= image_tag("chat.png", alt: "person icon", class: "story-icon-3")%></a>
          </div>
          <div class="col-xs-6 col-sm-3 col-md-2">
              <a href="story/"><%= image_tag("ribbon.png", alt: "person icon", class: "story-icon-4")%></a>
          </div>

           <span class="keep-scrolling hidden-xs"><i class="entypo-down-open-big "></i></span>

        </div>
      </section>

      <section>

        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                <div id="start" class="story-container story">
                    <p class="fittext pacifico"> Ready?</p>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-xs-12 col-sm-2 col-sm-offset-5">
                <div  class="dot-container">
                    <div class='dot center' data-delay="1">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-2 col-sm-offset-5">
                <div  class="dot-container">
                    <div class='dot center' data-delay="1"></div>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-xs-12 col-sm-2 col-sm-offset-5">
                <div  class="dot-container">
                    <div class='dot center' data-delay="1"></div>
                </div>
            </div>
        </div>
      
      <div class="container marketing">
        <div class="row text-center">
          <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <img class="img-circle" data-src="holder.js/140x140" alt="Generic placeholder image">
            <h2>Heading</h2>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
            <br />
            <p><%= link_to "See My Bucket List", @path, class: "fittext pacifico" %></p>
          </div><!-- /.col-lg-4 -->
        </div>
      </div>

        <div class="row">
            <div class="col-xs-12 col-sm-2 col-sm-offset-3 hidden-xs">
                <div  class="dot-container">
                    <div class='dot float-right'></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-2">
                <div  class="dot-container">
                    <div class='dot center' ></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-2 hidden-xs">
                <div  class="dot-container">
                    <div class='dot float-left' ></div>
                </div>
            </div>
        </div>
        <div class="row hidden-xs">

            <div class="col-xs-12 col-sm-2 col-sm-offset-5">
                <div  class="dot-container">
                    <div class='dot center' data-delay="1"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 ">
                <div  class="story-container story">
                    <p class="fittext amatic iphone-title" data-margin="50">What do you want to do? </p>

                </div>

                <div  class="story-container story">
                    <p class="fittext amatic " data-margin="50" data-delay="3">See the world? </p>
                </div>

                <div  class="story-container story">
                    <p class="fittext amatic " data-margin="50" > Write a novel? </p>
                </div>

                <div  class="story-container story">
                    <p class="fittext amatic " data-margin="50" > Learn to play the piano? </p>
                </div>
                <div  class="story-container story">
                    <p class="fittext amatic " data-margin="50"> Climb a mountain? </p>
                </div>
                <div  class="story-container story">
                    <p class="fittext amatic " data-margin="50" >Do a pull-up?</p>
                </div>
            </div>
        </div>

        <!-- END row of images -->


        <div class="row">
            <div class="col-xs-12 col-sm-3 ">
                <div class="story-image-container">
                    <div class="circle-icon " data-delay="0">
                        <%= image_tag("heart.png", alt: "heart icon")%>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 ">
                <div class="story-image-container">
                    <div class="circle-icon " data-delay="1">
                        <%= image_tag("robot.png", alt: "robot icon")%>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 ">
                <div class="story-image-container">
                    <div class="circle-icon " data-delay="2">
                        <%= image_tag("crown.png", alt: "crown icon")%>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 ">
                <div class="story-image-container">
                    <div class="circle-icon " data-delay="3">
                        <%= image_tag("cloud.png", alt: "cloud icon")%>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-2 col-sm-offset-1">
                <div  class="dot-container">
                    <div class='dot center' data-delay="2"></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-2 col-sm-offset-6">
                <div  class="dot-container">
                    <div class='dot center' data-delay="2"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-2 col-sm-offset-3">
                <div  class="dot-container">
                    <div class='dot center' data-delay="2"></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-2 col-sm-offset-2">
                <div  class="dot-container">
                    <div class='dot center' data-delay="2"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-2 col-sm-offset-5 ">
                <div class="story-image-container">
                    <div class="circle-icon " data-delay="3">
                        <%= image_tag("mail.png", alt: "mail icon")%>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                <div  class="story-container story">
                    <p class="fittext pacifico"> share </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                <div  class="story-container story">
                    <p class="fittext pacifico"> your work </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                <div  class="story-container story">
                    <p class="fittext amatic"> Go. </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                <div class="hr-container ">
                    <hr data-margin="50">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                <div  class="story-container story">
                    <p class="fittext amatic"> Make your list. </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div  class="footer-container">
                                    <div class="social social-footer">
                    <a href="#"><span class="social-item"><i class="entypo-facebook"></i></span></a>
                    <a href="#"><span class="social-item"><i class="entypo-twitter"></i></span></a>
                    <a href="#"><span class="social-item"><i class="entypo-gplus"></i></span></a>
                        <a href="#"><span class="social-item"><i class="entypo-pinterest"></i></span></a>
                </div>
                </div>
            </div>
        </div>
        </section>

      </div> <!-- /container -->        
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                <h3 class="contact-me-title">Now's your chance. Create you Bucket List. </h3>
                <p>
                This is for you. You'll get one (and only 1!) e-mail from me with information about how to access your bucket list and edit it in future. No need to use your real name.</p>
                <p>
                Thanks for stopping by.

                </p>
            </div>
          </div>
          <br />
          <hr>
          <br />
          <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1">
              <div class="col-xs-3 col-sm-3 ">
                  <%= image_tag("heart.png", alt: " heart icon")%>
              </div>
              <div class="col-xs-3 col-sm-3 ">
                  <%= image_tag("papers.png", alt: "heart icon")%>
              </div>
              <div class="col-xs-3 col-sm-3 ">
                  <%= image_tag("crown.png", alt: "cron icon")%>
              </div>
              <div class="col-xs-3 col-sm-3 ">
                  <%= image_tag("cloud.png", alt: "cloud icon")%>
              </div>
            </div>
          </div>
        </div> <!-- END row -->
      </div><!-- END .container -->


